# TODO: Use native YAML arrays when built-in Clang tools are updated.
Checks: |
  bugprone-*,
  misc-*,
  performance-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -misc-no-recursion,
  -readability-braces-around-statements,
  -readability-function-cognitive-complexity,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -readability-identifier-length,
