Checks:
  - 'bugprone-*'
  - 'misc-*'
  - 'performance-*'
  - 'readability-*'
  - '-bugprone-easily-swappable-parameters'
  - '-readability-braces-around-statements'
  - '-readability-isolate-declaration'
  - '-readability-magic-numbers'
  - '-readability-identifier-length'
